<h1>Chip Freeney - About</h1>
<a href="http://www.chipfreeney.com/welcome/index">Index page</a>

<p>I work at a college as a janitor even though I feel like I'm smarter than most of the people who go there. Sometimes I see an equation written on a blackboard like half an equation and... I just figure it out. Anyway - my best friend is Ben Affleck...</p>



<style>
body{
  max-width: 600px;
}
  .favorite{
    color:#268C35;
    font-weight: bold;
  }
</style>