<h1>Chip Freeney</h1>
<p>Interaction Designer | Front-end Developer | Ruby on Rails n00b</p>
<p>This page is my first ruby on rails project, deployed to heroku.</p>
<a href="https://twitter.com/chipfreeney">@ChipFreeney</a>
