<h1>About</h1>
<p>I am an amateur software engineer. I developed this site as a showcase of my work in the Tech Talent South rails class for Careerbuilder.</p>
<a href="https://twitter.com/ChipFreeney">Fork me on twitter</a><br>
<a href="https://github.com/ChipFreeney">Follow me on github</a>