<h1>My Favorite Restaurants</h1>
<ul>
  <li class = 'favorite'>Houston's</li>
  <li>JCT Kitchen</li>
  <li>Farm Burger</li>
  <li>Fox Brothers BBQ</li>
  <li>House of Chan</li>
</ul>

<a href = "http://www.foxbrosbbq.com/">
  <img src="http://media.tumblr.com/tumblr_l9y62zN2Ot1qa5m8s.jpg" alt="Fox Brothers"/>
</a>


<style>
  .favorite{
    color:#268C35;
    font-weight: bold;
  }
</style>